{% extends 'base.html' %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>
    <p>{{ event.description }}</p>
    <p><strong>City:</strong> {{ event.city }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Promoter:</strong> <a href="{% url 'events:user-detail' event.promoter.pk %}">{{ event.promoter.username }}</a></p>
    <p><strong>Date:</strong> {{ event.date }}</p>
    <p><strong>Duration:</strong> {{ event.duration }}</p>
    <p><strong>Event Type:</strong> {{ event.event_type }}</p>
    <a href="{% url 'events:event_list' %}">Back to Events</a>

{% endblock %}