{% extends "base.html" %} {% load static %} {% block head %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
<!--{ load bootstrap5 %}
{ bootstrap_css %}
{ bootstrap_javascript %}-->
{% endblock %} 
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static './css/styles.css' %}">
</head>
<title>{% block title %}Eventhub - Your One-Stop Event Planning Destination{% endblock %}</title>
<body>
{%block content %}
  <!--
  <div class="row justify-content-center">
  <div id="carouselExample" class="carousel slide" data-ride="carousel"  style="width: 30%; height: 400px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="background-image: url('/static/media/event1background.png'); background-size: cover; background-position: center center; height: 100%;">
          <a href="#"><img class="d-block w-100 img-fluid" src="/static/media/event1.png" alt="Upcoming Event 1"></a>
        </div>
      </div>
      <div class="carousel-item">
        <a href="#"><img class="d-block w-100" src="/static/media/event2.png" alt="Upcoming Event 2"></a>
      </div>
      <div class="carousel-item">
        <a href="#"><img class="d-block w-100" src="/static/media/event3.png" alt="Upcoming Event 3"></a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
-->
  {% if object_list %}
    <div class="row justify-content-center m-1">
      {% for event in object_list %}
        <div class="col-md-3 col-sm-4 ">
          <div class="card h-100">
            <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.date }} - {{ event.city }} - {{ event.location }}</p>
                <p class="card-text">{{ event.description }}</p>
                <a href="{% url 'events:event_filter' %}" class="btn btn-outline-dark">View details</a>
              </div>
            </div>
          {% if forloop.counter|divisibleby:4 %}
            </div><div class="row justify-content-center m-1 row-cards">
          {% endif %}
        </div>
      {% endfor %}
    </div>
{% else %}
  <p>No events found.</p>
{% endif %}
</div>

{% endblock %}
</body>

<!-- <h1>Event List</h1>

  <form method="GET" action="{% url 'events:event_search' %}">
    <input type="text" name="q" placeholder="Search events">
    <button type="submit">Search</button>
  </form>

<br />

  <form method="GET" action="{% url 'events:event_filter' %}">
    {% comment %} <div class="row">
      <div class="col">
        <label for="location">Location:</label>
        <select name="location" class="form-select">
          <option value="">Select location</option>
          {% for location in locations %}
            <option value="{{ location.city }}">{{ location }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <label for="date">Date:</label>
        <input type="date" name="date" value="{{ request.GET.date }}" class="form-control">
      </div>

      <div class="col">
        <label for="duration">Duration:</label>
        <select name="duration" id="duration" class="form-select">
          <option value="">--Select Duration--</option>
          <option value="01:00:00">1 hour</option>
          <option value="01:30:00">1 hour 30 minutes</option> 
          <option value="02:00:00">2 hours</option>
          <option value="02:30:00">2 hour 30 minutes</option> 
          <option value="3:00:00">3+ hours</option>
        </select>
      </div>

      <div class="col">
        <label for="event_type">Event type:</label>
        <select name="event_type" class="form-select">
          <option value="">Select event type</option>
          {% for event_type in event_types %}
            <option value="{{ event_type }}">{{ event_type }}</option>
          {% endfor %}
        </select>
      </div> {% endcomment %}

      <div class="col">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </form>

  <br> -->