{% extends "base.html" %} {% load static %} {% block head %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles5.css' %}" />
<!--{ load bootstrap5 %}
{ bootstrap_css %}
{ bootstrap_javascript %}-->
{% endblock %} 
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static './css/styles.css' %}">
</head>
<title>{% block title %}Eventhub - Your One-Stop Event Planning Destination{% endblock %}</title>
<body>
{% block carousel %}
<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-md-6">
    <p class="h1 m-3 text-light">Welcome {% if user.is_authenticated %}{{user.username}}{% else %}Guest{% endif %}</p>
  </div>
</div>
<div class="row mx-n5">
  <div class="col-sm-12 mx-0">
  <div id="carouselExample" class="carousel slide" data-ride="carousel"  style="width: 100%; height: auto;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExample" data-slide-to="1"></li>
      <li data-target="#carouselExample" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="5000">
        <div style="background-image: url('/static/media/event1background.png'); background-size: cover; background-position: center center; height: 100%;">
          <a href="#"><img class="d-block w-100" style="object-fit: contain; max-height: 60vh; position: relative; z-index: 2; max-width: 100%;" src="/static/media/event1.png" alt="Upcoming Event 1"></a>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <div style="background-image: url('/static/media/event2background.png'); background-size: cover; background-position: center center; height: 100%;">
        <a href="#"><img class="d-block w-100" style="object-fit: contain; max-height: 60vh; position: relative; z-index: 2; max-width: 100%;" src="/static/media/event2.png" alt="Upcoming Event 2"></a>
      </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <div style="background-image: url('/static/media/event3background.png'); background-size: cover; background-position: center center; height: 100%;">
        <a href="#"><img class="d-block w-100"  style="object-fit: contain; max-height: 60vh; position: relative; z-index: 2; max-width: 100%;" src="/static/media/event3.png" alt="Upcoming Event 3"></a>
      </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>

{% endblock %}
{%block content %}
<div class="{% if not user.is_authenticated %}d-none{% endif %}">
<h1 class="h1 text-light m-3"> Your Preference: </h1>
<div class="card-container text-light m-4">
  <div class="row justify-content-center">
    {% if preference %}
    {% for event in preference %}
      <div class="col-md-3 col-sm-6 mb-3">
      <div class="card event-card d-flex flex-wrap bg-transparent">
          <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}", style="width:100%; height: 200px;object-fit: fill;">
          <div class="header">
              <h5 class="card-title"><a class="event-details text-light text-wrap" href="{% url 'events:event_details_and_reviews'  event_id=event.id %}">{{ event.title }}</a></h5>
          </div>
          <div class="card-body event-details">  
              <p class="card-text  text-light text-wrap">{{ event.date }} - {{ event.city }} - {{ event.location }}</p>
              <!--<p class="card-text">{{ event.description }}</p>-->
              <!--<a href="{% url 'events:event_filter' %}" class="btn btn-outline-dark">View details</a>-->
          </div>
      </div>
    </div>
    {%endfor%}
    {% else%}
    <p class="text-light m-3">No events found.</p>
    {% endif %}
  </div>
</div>
<br>
</div> 

<h1 class="h1 text-light m-3"> Highest Rated Events: </h1>
<div class="card-container text-light m-4">
  <div class="row justify-content-center">
    {% if high_rated %}
    {% for event in high_rated %}
      <div class="col-md-3 col-sm-6 mb-3">
      <div class="card event-card d-flex flex-wrap bg-transparent">
          <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}", style="width:100%; height: 200px;object-fit: fill;">
          <div class="header">
              <h5 class="card-title"><a class="event-details text-light text-wrap" href="{% url 'events:event_details_and_reviews'  event_id=event.id %}">{{ event.title }}</a></h5>
          </div>
          <div class="card-body event-details">  
              <p class="card-text  text-light text-wrap">{{ event.date }} - {{ event.city }} - {{ event.location }}</p>
              <!--<p class="card-text">{{ event.description }}</p>-->
              <!--<a href="{% url 'events:event_filter' %}" class="btn btn-outline-dark">View details</a>-->
          </div>
      </div>
      </div> 
    {%endfor%}
    {% else %}
    <p class="text-light m-3">No events found.</p>
    {% endif %}
  </div>
</div>
<br>

<h1 class="h1 text-light m-3"> Upcoming Events:  </h1>
<div class="card-container text-light m-4">
  <div class="row justify-content-center">
    {% if upcoming %}
    {% for event in upcoming %}
      <div class="col-md-3 col-sm-6 mb-3">
      <div class="card event-card d-flex flex-wrap bg-transparent">
          <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}", style="width:100%; height: 200px;object-fit: fill;">
          <div class="header">
              <h5 class="card-title"><a class="event-details text-light text-wrap" href="{% url 'events:event_details_and_reviews'  event_id=event.id %}">{{ event.title }}</a></h5>
          </div>
          <div class="card-body event-details">  
              <p class="card-text  text-light text-wrap">{{ event.date }} - {{ event.city }} - {{ event.location }}</p>
              <!--<p class="card-text">{{ event.description }}</p>-->
              <!--<a href="{% url 'events:event_filter' %}" class="btn btn-outline-dark">View details</a>-->
          </div>
      </div>
      </div>
    {%endfor%}
    {% else %}
    <p class="text-light m-3">No events found.</p>
    {% endif %}
  </div>
</div>
<br>

<h1 class="h1 text-light m-3"> Sporting Events:  </h1>
<div class="card-container text-light m-4">
  <div class="row justify-content-center">
    {% if sports %}
    {% for event in sports %}
      <div class="col-md-3 col-sm-6 mb-3">
      <div class="card event-card d-flex flex-wrap bg-transparent">
          <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}", style="width:100%; height: 200px;object-fit: fill;">
          <div class="header">
              <h5 class="card-title"><a class="event-details text-light text-wrap" href="{% url 'events:event_details_and_reviews'  event_id=event.id %}">{{ event.title }}</a></h5>
          </div>
          <div class="card-body event-details">  
              <p class="card-text  text-light text-wrap">{{ event.date }} - {{ event.city }} - {{ event.location }}</p>
              <!--<p class="card-text">{{ event.description }}</p>-->
              <!--<a href="{% url 'events:event_filter' %}" class="btn btn-outline-dark">View details</a>-->
          </div>
      </div>
      </div>
    {%endfor%}
    {% else %}
    <p class="text-light m-3">No events found.</p>
  {% endif %}
  </div>
</div>
<br>

<h1 class="h1 text-light m-3"> Art Exhibitions:  </h1>
<div class="card-container text-light m-4">
  <div class="row justify-content-center">
    {% if art %}
    {% for event in art %}
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card event-card d-flex flex-wrap bg-transparent">
          <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}", style="width:100%; height: 200px;object-fit: fill;">
          <div class="header">
              <h5 class="card-title"><a class="event-details text-light text-wrap" href="{% url 'events:event_details_and_reviews'  event_id=event.id %}">{{ event.title }}</a></h5>
          </div>
          <div class="card-body event-details">  
              <p class="card-text  text-light text-wrap">{{ event.date }} - {{ event.city }} - {{ event.location }}</p>
              <!--<p class="card-text">{{ event.description }}</p>-->
              <!--<a href="{% url 'events:event_filter' %}" class="btn btn-outline-dark">View details</a>-->
          </div>
      </div>
      </div>
    {%endfor%}
    {% else %}
    <p class="text-light m-3">No events found.</p>
  {% endif %}
  </div>
</div>
<br>

<h1 class="h1 text-light m-3"> Music Festivals:  </h1>
<div class="card-container text-light m-4">
  <div class="row justify-content-center">
    {% if music %}
    {% for event in music %}
    <div class="col-md-3 col-sm-6 mb-3">
      <div class="card event-card d-flex flex-wrap bg-transparent">
          <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}", style="width:100%; height: 200px;object-fit: fill;">
          <div class="header">
              <h5 class="card-title"><a class="event-details text-light text-wrap" href="{% url 'events:event_details_and_reviews'  event_id=event.id %}">{{ event.title }}</a></h5>
          </div>
          <div class="card-body event-details">  
              <p class="card-text  text-light text-wrap">{{ event.date }} - {{ event.city }} - {{ event.location }}</p>
              <!--<p class="card-text">{{ event.description }}</p>-->
              <!--<a href="{% url 'events:event_filter' %}" class="btn btn-outline-dark">View details</a>-->
          </div>
      </div>
      </div>
    {%endfor%}
    {% else %}
    <p class="text-light m-3">No events found.</p>
  {% endif %}
  </div>
</div>
<br>
{% endblock %}
</body>

<!-- <h1>Event List</h1>
  <form method="GET" action="{% url 'events:event_search' %}">
    <input type="text" name="q" placeholder="Search events">
    <button type="submit">Search</button>
  </form>

<br />

  <form method="GET" action="{% url 'events:event_filter' %}">
    {% comment %} <div class="row">
      <div class="col">
        <label for="location">Location:</label>
        <select name="location" class="form-select">
          <option value="">Select location</option>
          {% for location in locations %}
            <option value="{{ location.city }}">{{ location }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <label for="date">Date:</label>
        <input type="date" name="date" value="{{ request.GET.date }}" class="form-control">
      </div>

      <div class="col">
        <label for="duration">Duration:</label>
        <select name="duration" id="duration" class="form-select">
          <option value="">Select Duration</option>
          <option value="01:00:00">1 hour</option>
          <option value="01:30:00">1 hour 30 minutes</option> 
          <option value="02:00:00">2 hours</option>
          <option value="02:30:00">2 hour 30 minutes</option> 
          <option value="3:00:00">3+ hours</option>
        </select>
        
      </div>

      <div class="col">
        <label for="event_type">Event type:</label>
        <select name="event_type" class="form-select">
          <option value="">Select event type</option>
          {% for event_type in event_types %}
            <option value="{{ event_type }}">{{ event_type }}</option>
          {% endfor %}
        </select>
      </div> {% endcomment %}

      <div class="col">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </form>

  <br> -->

