{% extends "base.html" %}
{% load static %}

{% block title %}
Filter Events
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'styles5.css' %}">
{% endblock %}
{% comment %}
style="  font-size: 16px; width: 200px; padding: 5px; border-radius: 5px; border: 2px solid #cccccc; outline: none;"
style="align-self: flex-start;font-weight: bold; margin-top: 10px; margin-bottom: 15px;"
{% endcomment %}
{% block content %}
<h1 style="color:white"; class="filter-heading"><strong>Filter Events</strong></h1>
<form method="get" action="{% url 'events:event_filter' %}" class="">
    <div class="form-row justify-content-center ">
      <div class="col-md-2 col-sm-3 m-1">
        <label style="color: white" for="location" class="h3">Location:</label>
        <select name="location" id="location" class="form-control">
          <option value="">--Select Location--</option>
          {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2 col-sm-3 m-1">
        <label style="color:white" for="date" class="h3">Date:</label>
        <input type="date" name="date" id="date" class="form-control" value="{{ date }}">
      </div>
      <div class="col-md-2 col-sm-3 m-1">
        <label style="color:white" for="duration" class="h3">Duration:</label>
        <select name="duration" id="duration" class="form-control">
          <option value="">--Select Duration--</option>
          <option value="01:00:00">1 hour</option>
          <option value="01:30:00">1 hour 30 minutes</option> 
          <option value="02:00:00">2 hours</option>
          <option value="02:30:00">2 hour 30 minutes</option> 
          <option value="3:00:00">3+ hours</option>
        </select>
      </div>
      <div class="col-md-2 col-sm-3 m-1">
        <label style="color:white" for="event_type" class="h3">Event Type:</label>
        <select name="event_type" id="event_type" class="form-control">
          <option value="">--Select Event Type--</option>
          {% for event_type in event_types %}
            <option value="{{ event_type }}">{{ event_type }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-1 col-sm-1 align-self-end">
        <button type="submit" class="btn btn-primary filter-button">Filter</button>
      </div>
    </div>
  </form>

<div class="card-container text-light m-4">
    {% if object_list %}
    <div class="row justify-content-center">
        {% for event in object_list %}
        <div class="col-md-3 col-sm-6 mb-3">
        <div class="card event-card d-flex flex-wrap bg-transparent">
            <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}", style="width:100%; height: 200px;object-fit: fill;">
            <div class="header">
                <h5 class="card-title"><a class="event-details text-light text-wrap" href="{% url 'events:event_details_and_reviews'  event_id=event.id %}">{{ event.title }}</a></h5>
            </div>
            <div class="card-body event-details">  
                <p class="card-text  text-light text-wrap">{{ event.date }} - {{ event.city }} - {{ event.location }}</p>
                <!--<p class="card-text">{{ event.description }}</p>-->
                <!--<a href="{% url 'events:event_filter' %}" class="btn btn-outline-dark">View details</a>-->
            </div>
        </div>
        </div>
      {%endfor%}
    </div>
      {% else %}
      <p class="text-light m-3">No events found.</p>
      {% endif %}
  </div>
{% endblock %}
