{% extends "base.html" %}
{% load static %}

{% block title %}
Filter Events
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'styles5.css' %}">
{% endblock %}

{% block content %}
<h1 style="color:white"; class="filter-heading"><strong>Filter Events</strong></h1>
<form method="get" action="{% url 'events:event_filter' %}" class="filter-form">
    <div class="filter-item">
        <p style="color: white"><label for="location">Location:</label></p>
        <select name="location" id="location">
            <option value="">--Select Location--</option>
            {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="filter-item">
        <p style="color:white"><label for="date">Date:</label></p>
        <input type="date" name="date" id="date" value="{{ date }}">
    </div>

    <div class="filter-item">
        <p style="color:white"><label for="duration">Duration:</label></p>
        <select name="duration" id="duration">
            <option value="">--Select Duration--</option>
            <option value="01:00:00">1 hour</option>
            <option value="01:30:00">1 hour 30 minutes</option> 
            <option value="02:00:00">2 hours</option>
            <option value="02:30:00">2 hour 30 minutes</option> 
            <option value="3:00:00">3+ hours</option>
        </select>
    </div>
    <div class="filter-item">
        <p style="color:white"><label for="event_type">Event Type:</label></p>
        <select name="event_type" id="event_type">
            <option value="">--Select Event Type--</option>
            {% for event_type in event_types %}
                <option value="{{ event_type }}">{{ event_type }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="filter-button">Filter</button>
</form>

{% if object_list %}
    <div class="card-container event-list">
      {% for event in object_list %}
     
        <div class="col-md-3">
          <div class="event-card">
            <img src="{{ event.poster }}" class="card-img-top" alt="{{ event.title }}">
            <a href="{% url 'events:event_details_and_reviews' event_id=event.id %}"> 
            <div class="event-title">{{ event.title }}</div>
        </a>
          <div style="color:white"; class="event-details">
                <div class="event-date">{{ event.date }} -</div>
                <div class="event-location">{{ event.location }} -</div>
                <div class="event-city">{{ event.city }}  </div>
                <div class="event-promoter"> - {{ event.promoter }}</div>                      
              </div>
          </div>
        </div>
    
        {% if forloop.counter|divisibleby:4 %}
            </div><div class="event-list" style="margin-bottom: 50px; margin-top: 50px; display: flex ;
            flex-wrap: wrap;
            justify-content: space-between" >
        {% endif %}
      {% endfor %}
    </div>
    </div>
{% else %}
    <p class="no-events">No events found.</p>
{% endif %}

{% endblock %}
