`{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <meta charset="UTF-8">
    </head>
    <body>  
        <h1> EventHub </h1> 
        <strong><h1> Sign Up</h1></strong>
        <form method="post">
            {% csrf_token %}
        <p> Username: {{form.username}} </p>
        <p> First Name: {{form.first_name}}</p> 
        <p> Last Name: {{form.last_name}} </p> 
        <p> Date of Birth {{form.date_of_birth}} </p> 
        <p> Choose Your Category  <label class="radio-label">{{form.is_promoter}}</label> </p>
        <p> Password {{form.password1}} </p>
        <p> Password Confirmation {{form.password2}} </p>
        <p></p>
        <button type="submit"> Sign Up </button>
        </form>
    </body>
</html>
