<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
       <!--<h1 class="bg-light text-dark">Event Hub</h1>-->
        {% block navigation %}
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-light" href="{% url 'events:event_list' %}">Event Hub</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <!-- <a class="nav-link active" href="{% url 'events:event_list' %}">All Events</a>-->
                    <!--<a class="nav-link active text-light" href="{% url 'events:event_search' %}">Search Events</a>-->
                    <!--<a class="nav-link active text-light" href="{% url 'events:event_filter' %}">Filter Events</a>-->
                    <!--<a class="nav-link active text-light" href="{% url 'events:event_reviews' id=1 %}">Event Reviews</a>-->                  
                    <a class="nav-link active text-light {% if not user.is_promoter %}d-none{% endif %}" href="{% url 'create_event' %}">Create Event</a>
                    <a class="nav-link active text-light {% if not user.is_authenticated %}d-none{% endif %}" href="">Followed Events</a>
                </div>
                </div>            
                <form method="GET" class="input-group col-md-3 col-sm-4" action="{% url 'events:event_search' %}">
                    <input type="text" class="form-control" name="q" placeholder="Search events">
                    <button type="submit" class="btn btn-outline-light btn-addon-2">Search</button>
                </form>
                <a type="button" class="btn btn-outline-light col-md-1 col-sm-2  m-1 {% if user.is_authenticated %}d-none{% endif %}" href="{% url 'events:signup' %}">Sign up</a>
                <a type="button" class="btn btn-outline-light col-md-1 col-sm-2 m-1 {% if user.is_authenticated %}d-none{% endif %}" href="{% url 'events:login' %}">Login</a>
                <!--<a type="button" class="btn btn-outline-light col-md-1 m-1 {% if not user.is_authenticated %}d-none{% endif %}" href="">{{user.username}}</a>-->
                <a class="btn btn-outline-light dropdown-toggle col-md-1 m-1 {% if not user.is_authenticated %}d-none{% endif %}" href="#" role="button" data-toggle="dropdown" aria-expanded="false">{{user.username}}</a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark ">
                        <a class="dropdown-item bg-dark text-light" href="#">Profile</a>
                        <a class="dropdown-item bg-dark text-light" href="#">Settings</a>
                        <a class="dropdown-item bg-dark text-light" href="{% url 'events:logout' %}">Log out</a>
                    </div>
                
            </div>
            </div>   
        </nav>
        {% endblock %}
    </header>
    <div class="container-fluid p-3, ml-auto, mr-auto">
    <main>{% block content %}{% endblock %}</main>
    </div>
    <footer>
        <p>&copy; Event_Hub</p>
    </footer>
</body>

</html>