{% extends "base.html" %} {% load static %} {% block head %} {{ block.super }} {% endblock %}
<title>{% block title %}Edit Event{% endblock %}</title>
<body>
{% block content%}
<div class="row justify-content-center">
<h1 class="h1 text-light m-3">Edit Event</h1>
</div>
<div class="row justify-content-center">
<form method="POST" class="text-light m-3">
    {% csrf_token %}
    <p> Title: {{form.title}} </p>
    
    <p>{% if form.title.errors %}</p>
    {% for error in form.title.errors %}
    <p class="errors"> {{error}} </p>
    {% endfor %}
    {% endif %}

    <p> Description:</p>
    <p class="descbox"> {{form.description}}</p>
    
    <p>{% if form.description.errors %}</p>
    {% for error in form.description.errors %}
    <p class="errors"> {{error}} </p>
    {% endfor %}
    {% endif %}

    <p> City: {{form.city}} </p>
    
    <p>{% if form.city.errors %}</p>
    {% for error in form.city.errors %}
    <p class="errors"> {{error}} </p>
    {% endfor %}
    {% endif %}
    <p> Location: {{form.location}} </p>
    
    <p>{% if form.location.errors %}</p>
    {% for error in form.location.errors %}
    <p class="errors"> {{error}} </p>
    {% endfor %}
    {% endif %}
    <p> Date: {{form.date}} </p>
    
    <p>{% if form.date.errors %}</p>
    {% for error in form.date.errors %}
    <p class="errors"> {{error}} </p>
    {% endfor %}
    {% endif %}

    <!-- <p> Poster: {{form.poster}} </p> -->
    <p> Poster: {{form.poster}} </p>

    <p>{% if form.poster.errors %}</p>
    {% for error in form.poster.errors %}
    <p class="errors"> {{error}} </p>
    {% endfor %}
    {% endif %}
    <p> Duration: {{form.duration}} </p>

    <p>{% if form.duration.errors %}</p>
    {% for error in form.duration.errors %}
    <p class="errors"> {{error}} </p>
    <!--<span class="error-message">{{ error_message }}</span>-->
    {% endfor %}
    {% endif %}

     <!-- {{ form.as_p }} -->
     <div class="row justify-content-center">
    <button type="submit" class="btn btn-outline-light">Save Changes</button>
    </div>
</form>
</div>
{% if event.attendees.count > 0 %}
<h2>Attendees</h2>
<ul>
    {% for attendee in event.attendees.all %}
    <li class="bottom">{{ attendee.username }}</li>
    {% endfor %}
</ul>
{% else %}
<p style="text-align: center;" class="text-light"> No one has confirmed whether they will attend this event yet.</p>
{% endif %}

<p style="text-align: center;"><a style="color: antiquewhite;" href="/">Back to Homepage </a></p>

{% endblock %}
</body>
</html>