{% extends 'base.html' %}
{% load static %}

<head>
  <title>{% block title %}{{event.title}}'s' Announcements{% endblock %}</title>
</head>

<body>
  {% block content %}
  <div class="d-flex  flex-column">
    <h2 class="h2 text-light m-3">{{event.title}} Announcements</h2>

    <div class="announcement-card border-primary bg-transparent m-3 p-3 mx-auto" style="width: 500px;">
      {% if announcements %}
      <ul class="list-unstyled">
        {% for Announcement in announcements %}
        <li class="d-flex align-items-center mb-3">
          <img src="{{ Announcement.image }}" alt="{{ Announcement.title }}" class="img-fluid rounded mr-3" style="width:200px;">
          <div>
            <h4 class="text-light mb-0">{{ Announcement.title }}</h4>
            <p class="text-light">{{ Announcement.description }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="text-light">No announcements for this event yet.</p>
      {% endif %}
    </div>

  </div>
  {% endblock %}
</body>