{% extends 'base.html' %}

{%block content%}

<h1 style="color:white" class="h1 m-3">Privacy Policy</h1>
<h4 style="color:white" class="h4 m-3">At Event_Hub, we are committed to protecting your privacy and ensuring the security of your personal information. This privacy policy outlines the types of personal information we collect from you when you use our website, how we use that information, and how we keep it secure.</h4>

<h3 style="color:white" class="h3 m-2">Collection of Personal Information</h3>

<p  style="color:white" class="text-light m-3">When you use our website, we may collect personal information such as your name, email address, phone number, and other contact information. We may also collect information about your location, preferences, and interests.

We collect this information when you register for an account, sign up for our newsletter, make a purchase, or engage in other activities on our website.</p>

<h3  style="color:white" class="h3 m-3">Use of Personal Information</h3>

<p  style="color:white" class="text-light m-3">We use your personal information to provide you with a better experience on our website, to communicate with you about our products and services, and to personalize your experience. We may also use your personal information to analyze website traffic and to improve our website.

We do not sell, rent, or share your personal information with third parties for their marketing purposes.</p>

<h2 style="color:white"  class="h2 m-2">Security of Personal Information</h2>

<p  style="color:white" class="text-light m-3">We take the security of your personal information seriously and use industry-standard security measures to protect your information from unauthorized access, disclosure, or misuse.

However, no method of transmission over the internet or method of electronic storage is 100% secure, and we cannot guarantee the security of your personal information.</p>

<h2  style="color:white" class="h2 m-3">Your Rights</h2>

<p  style="color:white" class="text-light m-3">You have the right to access, update, or delete your personal information at any time. You can do this by logging into your account or contacting us directly.</p>

<h2  style="color:white" class="h2 m-3">To this Privacy Policy</h2> 

<p  style="color:white" class="text-light m-3">We reserve the right to modify this privacy policy at any time. If we make significant changes to this policy, we will notify you by email or by posting a notice on our website.</p>

<h2  style="color:white" class="h2 m-3">Contact Us</h2>

<p  style="color:white" class="text-light m-3">If you have any questions or concerns about this privacy policy, please contact us at [contact email].</p>

{%endblock%}