{% extends 'base.html' %}
<title>{% block title %}"{{user.username}}'s Profile"{% endblock %}</title>
{% block content %}
<div class="container mt-5 text-light">
  <div class="row">
    <div class="col-sm-3">
      <div class="text-center">
        <img src="{{ user.picture }}" class="avatar img-circle img-thumbnail mx-auto d-block" alt="avatar" style="width: 500px; height: 250px;  border-radius: 25px;

">
      </div>
    </div>
    <div class="col-sm-9">
      <h2 class="h2"> Welcome {{ user.username }}</h2>
      <hr>
      <dl class="row">
        <dt class="col-sm-3 m-2">Email</dt>
        <dd class="col-sm-9 m-2 border-bottom">{{ user.email }}</dd>

        <dt class="col-sm-3 m-2">Name</dt>
        <dd class="col-sm-9 m-2 border-bottom">{{ user.first_name }} {{user.last_name}}</dd>

        <dt class="col-sm-3 m-2">Date of Birth</dt>
        <dd class="col-sm-9 m-2 border-bottom">{{ user.date_of_birth }}</dd>

        <dt class="col-sm-3 m-2">Nationality</dt>
        <dd class="col-sm-9 m-2 border-bottom">{{ user.nationality }}</dd>

        <dt class="col-sm-3 m-2">Address</dt>
        <dd class="col-sm-9 m-2 border-bottom">{{ user.address }}</dd>

        <dt class="col-sm-3 m-2">Bio</dt>
        <dd class="col-sm-9 m-2 border-bottom">{{ user.bio }}</dd>

        <dt class="col-sm-3 m-2">Promoter</dt>
        <dd class="col-sm-9 m-2 border-bottom">{% if user.is_promoter %} Yes {% else %} No {% endif %}</dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}